#* * * * * выполняемая команда
#- - - - -
#| | | | |
#| | | | ----- День недели (0 - 7) (Воскресенье =0 или =7)
#| | | ------- Месяц (1 - 12)
#| | --------- День (1 - 31)
#| ----------- Час (0 - 23)
#------------- Минута (0 - 59)
# m     h       dom     mon     dow     command
1       *       *       *       *       /usr/bin/dpkg --get-selections > /root/list-install-packets-for-backup.apt
22      3       *       *       6       /usr/local/bin/cert-update
